.bc_fff {
  background-color: #fff;
}
.bc_169bd5 {
  background-color: #169bd5;
}
.bc_f2f2f2 {
  background-color: #f2f2f2;
}
.bc_fafafa {
  background-color: #fafafa;
}
.bc_f7f7f7 {
  background-color: #f7f7f7;
}
.bc_f8f8f8 {
  background-color: #f8f8f8;
}
.bc_ffc800 {
  background-color: #ffc800;
}
.bc_007cff{
  background-color: #007cff;
}
.bc_247fff{
  background-color: #247fff;
}
.bc_ff8e8e{
  background-color: #ff8e8e;
}
.bc_ff0000{
  background-color: #ff0000;
}