.c_33add6 {
  color: #33add6;
}
.c_dfe6ec {
  color: #dfe6ec;
}
.c_fff {
  color: #fff;
}
.c_333 {
  color: #333;
}
.c_999 {
  color: #999;
}
.c_42b983 {
  color: #42b983;
}
.c_ff0000 {
  color: #ff0000;
}
.c_dbdb0b {
  color: #dbdb0b;
}
.c_c4c4c4 {
  color: #c4c4c4;
}
.c_434343{
  color: #434343;
}
.c_217dff{
  color: #217dff;
}
.c_5e5e5e{
  color: #5e5e5e;
}
.c_6e6e6e{
  color:#6e6e6e;
}

.c_515151{
  color:#515151;
}
.c_a4a4a4{
  color:#a4a4a4;
}
.c_606266{
  color:#606266;
}

