.icon{display:inline-block;vertical-align: middle;}
.icon::before{
	display: inline-block;
	content: '' ;
}
/* .icon-supply::before{
  width: 35px;height: 30px;
	background: url(../../assets/images/icons/supply.png) no-repeat center / 30px 30px;
}
.icon-order::before{
  width: 35px;height: 30px;
	background: url(../../assets/images/icons/order.png) no-repeat center / 30px 30px;
}
.icon-wore::before{
  width: 35px;height: 30px;
	background: url(../../assets/images/icons/wore.png) no-repeat center / 30px 30px;
}
.icon-cash::before{
  width: 35px;height: 30px;
	background: url(../../assets/images/icons/cash.png) no-repeat center / 30px 30px;
}
.icon-white::before{
  width: 35px;height: 30px;
	background: url(../../assets/images/icons/white.png) no-repeat center / 30px 30px;
}
.icon-address::before{
  width: 10px;
  height: 12px;
  background: url(../../assets/images/icons/address.png) no-repeat center / 10px 12px;
} */